!!!
%html
  %head
    %title Goutam Hanje Personal Blog
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://www.w3schools.com/w3css/4/w3.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  :css
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  %body.w3-light-grey
    .w3-content.w3-margin-top{:style => "max-width:1400px;"}
      .w3-row-padding
        .w3-third
          .w3-white.w3-text-grey.w3-card-4
            .w3-display-container
              %img{:alt => "Avatar", :src => "/assets/my_img.jpeg", :style => "width:100%"}/
              .w3-display-bottomleft.w3-container.w3-text-black
                %h2 Goutam Hanje
            .w3-container
              %p
                %i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-large.w3-text-teal>
                Clinical Operation
              %p
                %i.fa.fa-home.fa-fw.w3-margin-right.w3-large.w3-text-teal>
                Bangalore, India
              %p
                %i.fa.fa-envelope.fa-fw.w3-margin-right.w3-large.w3-text-teal>
                goutam.hanje@gmail.com
              %p
                %i.fa.fa-phone.fa-fw.w3-margin-right.w3-large.w3-text-teal>
                7259369298
              %hr/
              %p.w3-large
                %b
                  %i.fa.fa-asterisk.fa-fw.w3-margin-right.w3-text-teal>
                  Skills
              %p Clinical Research Co-ordinator 
              .w3-light-grey.w3-round-xlarge.w3-small
                .w3-container.w3-center.w3-round-xlarge.w3-teal{:style => "width:90%"} 100%
              %p Clinical Safety
              .w3-light-grey.w3-round-xlarge.w3-small
                .w3-container.w3-center.w3-round-xlarge.w3-teal{:style => "width:80%"}
                  .w3-center.w3-text-white 90%                  
              %p ICH GCP
              .w3-light-grey.w3-round-xlarge.w3-small
                .w3-container.w3-center.w3-round-xlarge.w3-teal{:style => "width:80%"}
                  .w3-center.w3-text-white 90%
              %br/
              %p.w3-large.w3-text-theme
                %b
                  %i.fa.fa-globe.fa-fw.w3-margin-right.w3-text-teal>
                  Languages
              %p English
              .w3-light-grey.w3-round-xlarge
                .w3-round-xlarge.w3-teal{:style => "height:24px;width:90%"}
              %p Hindi
              .w3-light-grey.w3-round-xlarge
                .w3-round-xlarge.w3-teal{:style => "height:24px;width:95%"}
              %p Kannada
              .w3-light-grey.w3-round-xlarge
                .w3-round-xlarge.w3-teal{:style => "height:24px;width:95%"}
              %p Marathi
              .w3-light-grey.w3-round-xlarge
                .w3-round-xlarge.w3-teal{:style => "height:24px;width:95%"}
              %br/
          %br/
          / End Left Column
        / Right Column
        .w3-twothird
          .w3-container.w3-card.w3-white.w3-margin-bottom
            %h2.w3-text-grey.w3-padding-16
              %i.fa.fa-suitcase.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal>
              Work Experience
              %hr/
            .w3-container
              %h5.w3-opacity
                %b iMed Global Pvt.ltd(Bangalore)
              %h6.w3-text-teal
                %i.fa.fa-calendar.fa-fw.w3-margin-right>
                Nov 2017 - Present
            .w3-container
              %h5.w3-opacity
                %b Syngene International Ltd(Bangalore)
              %h6.w3-text-teal
                %i.fa.fa-calendar.fa-fw.w3-margin-right>
                June 2016 - Nov 2017
                %span.w3-tag.w3-teal.w3-round Formar          
          .w3-container.w3-card.w3-white
            %h2.w3-text-grey.w3-padding-16
              %i.fa.fa-certificate.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal>
              Education
            .w3-container
              %h5.w3-opacity
                %b Govt College of Pharmacy(Bangalore)
              %h6.w3-text-teal
                %i.fa.fa-calendar.fa-fw.w3-margin-right>
                2014 - 2016
              %p Master Degree in M-Pharma(Pharmacalogy & Toxicalogy)
              %hr/
            .w3-container
              %h5.w3-opacity
                %b KLE College of Pharmacy(Belgaum)
              %h6.w3-text-teal
                %i.fa.fa-calendar.fa-fw.w3-margin-right>
                2010 - 2014
              %p Bachelor Degree in B-Pharmacy
              %hr/          
